*{
  box-sizing: border-box;
}
body:not(.owl-carousel) {
  display: grid;
  grid-template-columns:1fr 800px 1fr;
  grid-template-rows: 10% 4fr 10%;
  grid-template-areas:
  'header header header'
  'padding-left body padding-right'
  'footer footer footer';
  grid-gap: 15px;
  height: auto;
  background-image: url("../images/04.jpg");
  background-position: center;
  background-attachment: fixed;
  margin: 0;
}
/* Styling for top links */
.navListItem{
  display: inline;
  padding-right: 15px;
  font-size: 27px;
}
.navListLink{
  text-decoration: none;
  color: black;
}
#navList{
  text-align: center;
  padding-left: 0px;
  margin-top: 0px;
}
@media (max-width: 768px){
  body{
    grid-template-columns: 0fr 4fr 0fr;
    grid-gap: 0px;
  }
}
.image{
  max-width: 50%;
  height: auto;
  padding: 10px;
  border-radius: 25%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.contactListLink{
  text-decoration: none;
  color:gold;
}
.contact-list{
  list-style-type:none;
  
}
.content{
  background-color: rgb(10, 10, 10);
  color: white;
  border-top: double grey 4px;
  border-bottom: double grey 4px;
  padding: 0px 10px;
  border-radius: 5%;
}
.carousel-div{
  border-radius:20%;
  background-color:rgba(57, 221, 186, 0.918);
}
/* Utility Classes */
.bumpIn {
  padding-left: 10px;
}
.vollkorn{
  font-family: 'Vollkorn', serif;
}
.raleway{
  font-family: 'Raleway', sans-serif;
}
#bodyArea{
  grid-area: body;
}
#topNav {
  grid-area: header;
  position: sticky;
  top: 0;
  border-bottom: 3px solid rgba(250, 250, 250, 0.5);
  background-color:rgba(57, 221, 186, 0.95);
  z-index: 1000;
}
#bottomFooter{
  grid-area: footer;
}
#paddingLeft{
  grid-area: padding-left;
}
#padding-right{
  grid-area: padding-right;
}

div, nav, footer, article {
  padding: 20px;
}
