*{
  box-sizing: border-box;

}
body {
  display: grid;
  grid-template-columns:1fr 800px 1fr;
  grid-template-rows: 10% 1fr 10%;
  grid-template-areas:
  'header header header'
  'padding-left body padding-right'
  'footer footer footer';
  grid-gap: 15px;
  height: auto;
  background-color: grey;
}
/* Styling for top links */
.navListItem{
  display: inline;
  padding-right: 15px;
}
.navListLink{
  text-decoration: none;
  color: black;
}
#navList{
  text-align: center;
  padding-left: 0px;
}
@media (max-width: 800px){
  body{
    grid-template-columns: 0fr 1fr 0fr;
    grid-template-areas:
    'header header header'
    'padding-left body padding-right'
    'footer footer footer';
    grid-gap: 0px;
  }
}
.content{
  background-color: rgb(10, 10, 10);
  color: white;
  border-top: double grey 4px;
  border-bottom: double grey 4px;
  padding: 0px 10px;
  border-radius: 5%;
}
/* Utility Classes */
.bumpIn {
  padding-left: 10px;
}
.vollkorn{
  font-family: 'Vollkorn', serif;
}
.raleway{
  font-family: 'Raleway', sans-serif;
}
#bodyArea{
  grid-area: body;
}
#topNav {
  grid-area: header;
  position: sticky;
  top: 0;
  border-bottom: 3px solid white;
}
#bottomFooter{
  grid-area: footer;
}
#paddingLeft{
  grid-area: padding-left;
}
#padding-right{
  grid-area: padding-right;
}

div, nav, footer, article {
    background-color: rgb(129, 127, 125);
  padding: 20px;
}
